<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PISO 1</title>
</head>

<body>
<script>
    console.log({{imageRoutes}})
</script>
    <h1>Imagen PISO 1 HBS</h1>

    {{imageRoutes}}

    
    
</body>
</html>